.header {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
  }

.container {
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 0.3fr 0.3fr 0.2fr;
  grid-column-gap: 10px;
  //grid-row-gap: 15px;
}

.nav {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 0.5rem;
}

nav {

  ul { 
    display: flex;
  }
  
  li {
    margin-right: 35px;
    list-style-type: none;
  }

}

.main {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
  min-height: 400px;
}

#learn {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 6;
  padding: 1.5rem 0;


#learngrid {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 1.5em;
}

}

.foot-one {
  grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.foot-two {
  grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

.foot-three {
  grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;

    ul {
      display: block;
    }

    ul li {
      text-align: left;
    }
}

.about {
  text-align: left;
}
.terms {
  
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;

}

/*.headingList, .figure, .nav_link {
  margin-left: $paddingSpace;
}*/

.section {
  padding: 45px 35px;
}

h2 {
  padding-top: $paddingSpace;
}

.flexleft { flex-basis: 35%; }
.flexright { flex-basis: 65%;}

.flexcontainer {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  padding: 0.5rem;
}

.flexitem {
  display: flex;
  flex-direction: column;

}
.flexleft { flex-basis: 35%; }
.flexright { flex-basis: 65%;

}

.footer {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 7;
}

.banner {
  display: flex;
  grid-column: 2/span 4;
  grid-row: 1;
}

.footergrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2.0em;
  padding: 0.5rem;
}

.footnotegrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2.0em;
  padding: 0.5rem;
}

.footerwrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 1.5rem;;
}

.footerwrapper > div {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-template-columns: 1fr 1fr 1fr;
}