/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  font rendering applied to all elements  */
* { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

/* ------------- BASE ------------- */
body {
	font-family: $defaultFont;
  font-weight: $normalWeight;
  font-style: normal;
  font-feature-settings: 'ss02' on;
  color: $color-text;
  background-color: $color-page-bg;
}

.page-wrapper { // to prevent footer touching the header while page loads
  min-height: 400px; //fallback for no vh support
  min-height: 50vh;
}

p, a, li {
  font-size: 1.125rem;
  line-height: 1.85;
  font-feature-settings: 'ss02' on;
}

li {
  margin-top: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $boldWeight;
}

h1 {
  font-size: 1.75rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.65;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.8;
}

small {
  font-size: 0.875rem;
}

.figure-block {
  background-color: white;
  padding-top: $padMedium;
  padding-bottom: $padMedium;
  margin-bottom: $padLarge;
}

.figure-block blockquote { // for homepage quote
  color: $color-brand-darker;
  font-size: 1.25rem;
  line-height: 1.8;
  quotes: "\201C" "\201D" "\2018" "\2019";
  padding: 0;
}

.figure-block figcaption {
  color: $color-text-muted;
  display: block;
  padding-top: 0.75em;
}

blockquote { // for content quotes
  color: $color-brand-darker;
  background-color: white;
  font-size: 1.25rem;
  line-height: 1.8;
  padding: $padMedium $padSmall;

  p:first-of-type {
    margin: 0;
  }
}
main article {
  blockquote { // for content quotes
    margin: $padMedium 0;
  }
}

a {
  color: $color-blue-dark;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
    color: $color-text;
    box-shadow: 0px 2px 0px 0px $color-text, 0px 0px 0px 1px $color-highlight;
    background-color: $color-highlight;
  }
  &:active {
    text-decoration: none;
    background: none;
    box-shadow: 0px 2px 0px 0px $color-text;
  }
}

article a:visited:not(.button) {
  color: $color-purple;
}

.link-with-image:focus { // specific focus state for links that contain images
  background: none;
  box-shadow: 0px 0px 0px 2px $color-text, 0px 0px 0px 5px $color-highlight;
}

li {
  margin-top: 1em;
}


.button {
  padding: 0.7em 1.5em;
  border-radius: 0.2em;
  font-size: 1.125rem;
  border: 0;
  text-decoration: none;
  display: inline-block;
  line-height: 1.2;
}

.button-primary {
  border: 0;
  background-color: $color-blue-dark;
  color: white;
  font-weight: $midWeight;
}

.button-secondary {
  box-shadow: inset 0px 0px 0px 3px $color-blue-light;
  background-color: white;
  color: $color-blue-dark;
  font-weight: $midWeight;
}

.button-light {
  background-color: white;
  -webkit-text-fill-color: $color-blue-dark;
  color: $color-blue-dark;

  &:hover {
    -webkit-text-fill-color: inherit;
  }    
  &:focus {
    -webkit-text-fill-color: inherit;
  }
  &:active {
    -webkit-text-fill-color: inherit;
  }
}

.button-small {
  padding: 0.6395em 1.5em;
}

.button-primary,
.button-secondary {
  &:hover {
    background-color: $color-blue-darker;
    color: $color-highlight;
    -webkit-text-fill-color: $color-highlight;
    cursor: pointer;
    box-shadow: 0px 0px 0px 4px $color-highlight;
    text-decoration: none;
  }    
  &:focus {
    color: $color-text;
    -webkit-text-fill-color: $color-text;
    background-color: $color-highlight;
    outline: 0;
    text-decoration: none;
    box-shadow: 0px 0px 0px 3px $color-blue-darker;
  }
  &:active {
    color: $color-text;
    -webkit-text-fill-color: $color-text;
    background-color: $color-highlight;
    box-shadow: none;
    text-decoration: none;
    box-shadow:  0px 0px 0px 4px $color-highlight, inset 0px 0px 0px 3px $color-blue-darker;
  }
}

.button-header {
  text-decoration: none;
  font-size: 1rem;
  font-weight: $boldWeight;
  letter-spacing: 0.0125rem;
  box-shadow: inset 0px 0px 0px 2px $color-blue-light;
  padding: 0.875em 1.25em;
  color: $color-blue-dark;
  border-radius: 0.2em;
  background-color: white;
  display: inline-block;
  line-height: 1;
  min-width: 0.75em;

  svg { // button icon
    height: 0.75em;
    margin-right: 0.25em;
    fill: inherit;
  }

  &:hover {
    svg path { // button icon
      fill: $color-highlight;
    }
  }
  &:focus,
  &:active {
    svg path { // button icon
      fill: $color-text;
    }
  }
}
.button-header.active {
  background-color: $color-blue-dark;
  color: white;
  box-shadow: none;

  svg path { // button icon
    fill: white;
  }
  &:hover {
    svg path { // button icon
      fill: $color-highlight;
    }
  }
  &:focus {
    color: $color-highlight;
    -webkit-text-fill-color: $color-highlight;
    background-color: $color-blue-darker;
    box-shadow: 0px 0px 0px 3px $color-highlight;
  
    svg path { // button icon
      fill: $color-highlight;
    }
  }
  &:active {
    color: $color-text;
    -webkit-text-fill-color: $color-text;
    background-color: $color-highlight;
    box-shadow: 0px 0px 0px 4px $color-highlight, inset 0px 0px 0px 3px $color-text;
  
    svg path { // button icon
      fill: $color-text;
    }
  }
}

table {
  font-size: 1.125rem;
  line-height: 1.45;
  width: 100%;
  border-bottom: 2px solid $color-brand;
  border-collapse: collapse;

  thead th {
    font-weight: $boldWeight;
    border-top: 3px solid $color-brand;
    border-bottom: 3px solid $color-brand;
    text-align: left;
  }

  tr {
    border-bottom: 2px solid $color-brand;
  }

  th, td {
    padding: 0.5em 0.25em;
  }
}

hr {
  border-top: 4px solid $color-brand;
  margin: $padSmall 0;
}

.page-container {
  max-width: 1100px;
  padding: 0 $gutter;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  display:block;
  margin-top: $padMedium;
  margin-bottom: $padLarge;
}

main article { // article page content, pulled from CMS
  h2 {
    margin-top: 2em;
  }

  h1 + h2 {
    margin-top: 1em;
  }

  h3 {
    margin-top: 1em;
  }

  h4 {
    margin-top: 1em;
  }

  blockquote { // for content quotes
    margin: $padMedium 0;
  }

}

/* ------------- COMPONENTS ------------- */

.global-header {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 5;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  background-color: white;
  text-align: center;

  .global-header__logo {
    max-width: 150px;
    font-size: 0; // removes white space below logo

    img {
      max-width: 100%;
    }
  }

  .global-header__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $gutter;
    padding-bottom: $gutter;
    border-bottom: 2px solid $color-brand-20;
  }

}

.global-nav {

  display: none; // hidden before shown via menu button

  background-color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 2px solid $color-brand-20;

  li {
    margin-bottom: 1.25em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li a {
		font-weight: $normalWeight;
  }
  li a:visited {
    color: $color-blue-dark; // prevents :visited colour applying from to main nav
  }
  
  li a.active {
    text-decoration: none;
    color: $color-text-muted;
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      position: absolute;
      background-color: $color-brand;
      bottom: -0.5em;
      left: 0;
      border-radius: 4px;
    }
  }

  .button-header {
    margin-bottom: 1.5em;
  }
  
} // end nav
.global-nav--open {
  display: block;
}

footer {
    background-color: $color-brand-darker;
    color: white;

  .footer__top {
    padding-top: $padSmall;
  }

  .banner {
    padding-bottom: $padSmall;
  }

  .footer__logo {
    display: block;
    max-width: 150px;
    font-size: 0; // removes white space below logo
    margin-bottom: $padSmall;

    img {
      max-width: 100%;
    }
  }

  .footer__column {
    margin-bottom: $padSmall;

    .home-card-content {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $gutter;
      margin-top: $padSmaller;
      border: 0;
  
      li {
        @include cardbox;
        padding: $gutter;
        margin: 0;

        a {
          height: 15vw;
          display: block;
        }

        div {
          display: inline;
        }

        .CompanyLogo {
          height: 100%;
          width: 100%;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;  
          float:left;   
        }
      }
    }
  }

  .footer__column:nth-child(2){
    -ms-grid-column: 2;
  }

  .footer__column:nth-child(3){
    -ms-grid-column: 3;
  } 

  .footer__column__subsection {
    margin-top: $padSmall;
  }

  ul li {
    list-style-type: none;
  }

  a, 
  a:active {
    color: inherit;
    display: inline-block;
  }
  a:active {
    box-shadow: 0px 2px 0px 0px white;
  }

  .footer__bottom {
    background-color: $color-text;
    padding-top: $padSmall;
  }

  .footnotegrid {
    padding-bottom: $padSmall;
  }

}

.skiplink{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);

  &:focus {
    transform: translate(-50%, 0%);
  }
}

.sidebar {
  margin-bottom: $padSmall;
  border-bottom: 2px solid $color-brand-20;

  .sidebar__heading {
    font-size: 0.875rem;
    line-height: 1.8;
  }

  ul {
    list-style-type: none;
    margin: 1em 0;
  }

  li {
    line-height: 1.5;
  }

  li a {
    font-size: 1rem;
  }
}

.listnostyle {
  list-style-type: none;
}

.hero-container {
  @include cardbox-dark;
  padding-bottom: 55%;
  background-image: url(../../assets/home-hero-graphic-sm.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  margin-bottom: $padLarge;

  h1 {
    color: $color-brand-darker;
  }
}

#case-studies {
  background: $color-blue-dark;
  border-color: $color-blue-dark;
  color: white;
  margin-top: $padLarge;

  a {
    color: white;

    &:focus {
      color: $color-text;
    }
    &:active {
      color: white;
      box-shadow: 0px 2px 0px 0px white;
    }
  }
}

.who {

  .numbers-container {
    list-style-type: none;
  }

  .numbers {
    span {
      color: $color-brand-dark;
      font-size: 2.5rem;
      font-weight: $boldWeight;
      margin-right: 0.2em;
      line-height: 1.1;
    }

    p {
      color: $color-brand-darker;
      font-weight: $normalWeight;
    }
  }

  ul {
    margin-bottom: $padSmall;
  }

  h2 {
    padding: 0;
  }
}

.who--homepage {
  @include cardbox-dark;
  margin-bottom: $padLarge;

  .button-primary {
    margin-bottom: $padSmaller;
  }

  .home-card-content {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter;
    margin-top: $padSmaller;

    li {
      @include cardbox;
      padding: $gutter;
      margin: 0;

      div {
        display: inline;
      }

      a {
        height: 13vw;
        display: block;
      }

      .CompanyLogo {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;  
        float:left;      
      }
    }
  }
}

@media all and (-ms-high-contrast:none)
{
  .who--homepage {
    .home-card-content {
      margin-left:-$gutter;
      margin-bottom:-$gutter;
  
      li {
        margin-left:$gutter;
        margin-bottom:$gutter;
      }
    }
  }
}

.row { 
  display: grid;
  justify-items: center;

  ul {
    list-style-type: none;
  }
}


.copy {
  text-align: center;
}

.about {
  text-align: center;
}



.section {
  background-color: #f2f2f2; //need this for home doc change so not in community
  padding: 1.5rem 1.5rem;
  margin-bottom: 35px;
}

.format {
  max-width: 682px;

  ul {
    margin-left: 1.25em;
  }
}

.tempstyle {
  /*out of time today*/
  padding-left: 0.5rem;
  padding-bottom: 1rem;

}

.card-content {
  @include cardbox;
  margin-bottom: $padMedium;
  width: 100%;
  position: relative;
}

.cardgrid {
  .card-content {
    margin-bottom: 0;
  }

  .card__sub-list li,
  .card__sub-list a {
    font-size: 1rem;
    line-height: 1.5;
  }

  .card__img-container {
    width: 100%;
    height: 5em;
    display: block;

    .CompanyLogo {
      height: 100%;
      width: 100%;
      max-width: 18rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;  
      float:left;  
      margin: 0 auto;
      display: block; 
    } 
  }
}

.contain {

  button {
    margin-top: 50px;
    height: 40px;
    line-height: 2em;
  }
}

.card-link-container {
  li {
    @include cardbox-dark;
    margin-top: $padSmall;
  }
  a:first-of-type {
    font-size: 1.5rem;
    font-weight: $boldWeight;
    line-height: 1.4;
    display: inline-block;
  }
}

.readlinkscard {
  li {
    @include cardbox-dark;
  }
}

/* ------------- HELPER CLASSES ------------- */

.show-md {
  display: none;
}

.show-md-only {
  display: none;
}

