$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$primaryColour: #ffffff;
$secondaryColour:#faf9f9;
$fontColour: #000000;
$primaryBackgroudColour: #DCDCDC;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
