@use "~inter-ui/default" as inter-ui with (
	$inter-font-display: swap,
	$inter-font-path: "~inter-ui/Inter (web latin)"
);
@include inter-ui.weight-400;
@include inter-ui.weight-500;
@include inter-ui.weight-600;


@import "reset";

@import "variables";

@import "sm-default";

@media only screen and (min-width: 35em) {
	@import "md";
}

@media only screen and (min-width: 64em) {
	@import "lg";
} 
