html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.6;
}

nav ul {
  list-style: none;
}

p {
  line-height: 1.6;
  margin-top: 1rem;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  box-sizing: border-box;
}

/* ------------- BODY ------------- */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h2 {
  padding-left: 1.5rem;
}

blockquote {
  border: none;
  quotes: "\201C" "\201D" "\2018" "\2019";
  display: block;
  background-color: #E5E5E5;
  padding: 2.0rem;
  line-height: 1.6;
}

a {
  color: black;
}

blockquote::before {
  content: open-quote;
  /*display: block;
  font-size: 30px;
  left: -10px;
  top: -10px;
  position: relative;
  height: 0;*/
}

blockquote::after {
  content: close-quote;
}

.header {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1rem 2%;
  background-color: #ffffff;
  color: #faf9f9;
}

.header a {
  color: #000000;
}

nav ul li a {
  display: block;
  text-align: center;
  font-weight: 300;
  padding: .5rem 0;
  color: #000000;
}

nav ul li a:active {
  text-decoration: none;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 6;
  margin: 0 0.5rem;
}

.sidebar ul {
  list-style-type: none;
}

.main {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
  min-height: 400px;
  padding-top: 0.5rem;
}

footer {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 6;
  background-color: #ffffff;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer ul li {
  margin-right: 15px;
  list-style-type: none;
  padding: 0.5rem 0;
}

footer ul li a {
  color: black;
}

footer a {
  color: black;
}

.who {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 5;
  background-color: #e6e6e6;
  padding-left: 2%;
}

.who ul {
  display: flex;
  justify-content: space-between;
}

.who ul li {
  margin-right: 15px;
  list-style-type: none;
  padding: 0.5rem 0;
}

.who p {
  margin-top: 0;
  padding: 0.5rem;
}

.who img {
  width: auto;
  padding: 0.5rem 1.5rem 1.5rem 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.row {
  display: grid;
  justify-items: center;
}

.row ul {
  list-style-type: none;
}

/*.footergrid {
  justify-content: center;
}
.foot-one {
  
  grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.foot-two {
  
  
  grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.foot-three {
  display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;

    ul {
      display: block;
    }

    ul li {
      text-align: center;
    }
}*/
.copy {
  text-align: center;
}

.about {
  text-align: center;
}

.parent {
  display: flex;
}

.oruktools {
  margin-left: auto;
  order: 2;
}

.banner {
  display: flex;
  margin: 1.5rem;
}

.section {
  background-color: #f2f2f2;
  padding: 1.5rem 1.5rem;
  margin-bottom: 35px;
}

.nav-link {
  padding-left: 1.5rem;
}

.format {
  padding-left: 2%;
}

.format h3 {
  margin-top: 55px;
  margin-bottom: 1.2rem;
}

.format ul {
  margin-left: 3.0rem;
}

@media only screen and (min-width: 35em) {
  .header {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .container {
    display: grid;
    grid-template-columns: 0.2fr 0.4fr 0.3fr 0.3fr 0.2fr;
    grid-column-gap: 10px;
  }
  .nav {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #e6e6e6;
    padding: 0.5rem;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-right: 35px;
    list-style-type: none;
  }
  nav ul li a {
    color: #000000;
  }
  .main {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    min-height: 400px;
    padding-top: 1.5rem;
  }
  #learn {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
    padding: 1.5rem 0;
  }
  #learn #learngrid {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 1.5em;
  }
  #learn #left {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #e6e6e6;
    list-style-type: none;
    min-height: 150px;
    padding: 30px;
  }
  #learn #left ul {
    list-style-type: none;
  }
  #learn #left ul li a {
    color: black;
  }
  #learn #right {
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #e6e6e6;
    min-height: 150px;
    padding: 30px;
  }
  #learn #right ul {
    list-style-type: none;
  }
  #learn #right ul li a {
    color: black;
  }
  .sidebar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  .footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
    background-color: #e6e6e6;
    color: #000000;
  }
  .footergrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.0em;
    padding: 0.5rem;
  }
  .foot-one {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .foot-two {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .foot-three {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .foot-three ul {
    display: block;
  }
  .foot-three ul li {
    text-align: left;
  }
  .copy {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: left;
  }
  .about {
    text-align: left;
  }
  .terms {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .headingList, .figure, .nav_link {
    list-style-type: none;
  }
  .section {
    padding: 45px 35px;
  }
  h2 {
    padding-top: 15px;
    padding-left: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding: 25px;
  }
  .flexcontainer {
    -ms-box-orient: horizontal;
    display: -moz-flex;
    display: flex;
  }
  .flexitem {
    display: flex;
    flex-direction: column;
  }
  .flexleft {
    flex-basis: 35%;
  }
  .flexright {
    flex-basis: 65%;
  }
  .linkbox {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
    padding: 1.5rem 0;
  }
  .linkbox .linkgrid {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 1.5em;
  }
  .linkbox .left {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #e6e6e6;
    text-align: center;
    list-style-type: none;
    min-height: 150px;
    padding: 30px;
  }
  .linkbox .right {
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #e6e6e6;
    text-align: center;
    list-style-type: none;
    min-height: 150px;
    padding: 30px;
  }
  .who {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
    background-color: #e6e6e6;
    color: #000000;
    margin-bottom: 1.5rem;
    min-height: 430px;
  }
  .who img {
    width: auto;
  }
  .whogrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.0em;
    padding: 0.5rem;
  }
  .whogrid img {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
  .who-one {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .who-two {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .who-three {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .who-three ul {
    display: block;
  }
  .who-three ul li {
    text-align: left;
  }
  .who-four {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .who-four ul {
    display: block;
  }
  .who-four ul li {
    text-align: left;
  }
  .footerwrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.5rem;
  }
  .footerwrapper > div {
    display: grid;
  }
  .listbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
  }
  .listbox ul {
    list-style-type: none;
  }
  .listboxsingle {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    width: 49%;
  }
  .listboxsingle ul {
    list-style-type: none;
  }
  /* width on last child */
  .listbox > section {
    background-color: #e6e6e6;
    flex: 1 1 auto;
    margin-bottom: 20px;
    width: 25%;
    padding: 30px;
  }
  .listboxsingle > section {
    background-color: #e6e6e6;
    flex: 1 1 auto;
    margin-bottom: 20px;
    width: 25%;
    padding: 30px;
  }
}

@media only screen and (min-width: 64em) {
  .header {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .container {
    display: grid;
    grid-template-columns: 0.2fr 0.4fr 0.3fr 0.3fr 0.2fr;
    grid-column-gap: 10px;
  }
  .nav {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #e6e6e6;
    padding: 0.5rem;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-right: 35px;
    list-style-type: none;
  }
  nav ul li a {
    color: #000000;
  }
  .main {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    min-height: 400px;
    padding-top: 1.5rem;
  }
  #learn {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
    padding: 1.5rem 0;
  }
  #learn #learngrid {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 1.5em;
  }
  .footer {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
    background-color: #e6e6e6;
    color: #000000;
  }
  .foot-one {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .foot-two {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .foot-three {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .foot-three ul {
    display: block;
  }
  .foot-three ul li {
    text-align: left;
  }
  .copy {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: left;
  }
  .about {
    text-align: left;
  }
  .terms {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  /*.headingList, .figure, .nav_link {
  margin-left: $paddingSpace;
}*/
  .section {
    padding: 45px 35px;
  }
  h2 {
    padding-top: 15px;
  }
  .flexleft {
    flex-basis: 20%;
  }
  .flexright {
    flex-basis: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */