@import "../../../node_modules/bootstrap/scss/bootstrap";

header {
  background-color: #373737;
  color: white;
  padding: 2rem 0;
  padding-bottom:0;
  
  .container-fluid {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    img {
      background-color: #fff;
      height: 150px;
      width: 250px;
    }

  }
}

.container-fluid{
	margin-top:1rem;
}