footer {
  background-color: #373737;
  color: white;
  padding: 2rem 0;
  padding-bottom:0;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  
  .container-fluid {	
    margin: 0 auto;
    display: flex;
    flex-direction: column;
	
	img {
      background-color: #fff;
      height: 100px;
      width: 200px;
    }
  }
  
  .final-footer{
	background-color: #212121;
  }
}
